@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Kursumuza Hoş Geldiniz</h1>
    <p><a class="btn btn-primary" asp-controller="Course" asp-action="Apply">Başvuru Yap</a>.</p>
</div>
